:root{
    //Imported from frontend 
    --hightlight: #00aeef;
    --text-color: #373a3c;
    --danger: #e74c3c; 
    --caution: #ffc022;
    --neutral-l: #efefef;
    --neutral-m: #afafaf;
    --neutral-d: #737576;
}